@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  font-family: 'Rubik';
}

body{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-image: url("./assets/back.jpg");
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(21, 18, 18);
  color: red;
  width: 100vw;
  height: 5vw;
  margin-top: -0.5vw;
}

#register{
  font-size: 1vw;
  margin-right: 2vw;
  height: 3vw; 
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#register:hover{
  background-color: rgb(157, 255, 0);
  color: black;
}

input{
  height: 2vw;
}

#title{
  margin-left: 2vw;
}
img{
  width: 20vw;
  height: 20vw;
}
.books{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 6vw;
  row-gap: 4vw;
  flex-wrap: wrap;
  margin-left: 4vw;
  text-align: center;
  margin-top: 4vw;
}

.onebook{
  
  background-color: rgb(211, 211, 211);
  margin-top: 2vw;
  width: 20vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items:center;
  /* border: 3px solid black; */

}

.onebook:hover{
  box-shadow: 5px 5px 12px rgb(128, 128, 128);
  cursor: pointer;
}

.booktit{
  font-size: 1vw;
}

.App{
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

input{
  width: 22vw;
  height: 3vw;
  color: black;
  background-color: white;
}

#submit{
  width: 22.5vw;
  background-color: blueviolet;
  color: white;
  font-size: 1.2vw;
}

#submit:hover{
  background-color: rgb(157, 255, 0);
  color: black;
  box-shadow: 2px 2px 3px black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

form{
  margin-top: 2vw;
  padding: 8px;

}
.form{
  background-color: rgb(108, 107, 105);
  width: 40vw;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 5vw;
  box-shadow: 8px 6px 14px rgb(162, 162, 162);
}

.formTitle{
  text-align: center;
  color: whitesmoke;
}

.bottom{
  display: flex;
  flex-direction: row;
  column-gap: 13vw;
  font-weight: 300;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
