@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  font-family: 'Rubik';
}

body{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-image: url("./assets/back.jpg");
  height: 100vh;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(21, 18, 18);
  color: red;
  width: 100vw;
  height: 5vw;
  margin-top: -0.5vw;
}

#register{
  font-size: 1vw;
  margin-right: 2vw;
  height: 3vw; 
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#register:hover{
  background-color: chocolate;

}

.formInput{
  font-size: 1vw;
}

input{
  height: 2vw;
  padding-left: 15px;
  font-size: 20px;
}

#title{
  margin-left: 2vw;
}
img{
  width: 20vw;
  height: 20vw;
}
.books{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 6vw;
  row-gap: 4vw;
  flex-wrap: wrap;
  margin-left: 4vw;
  text-align: center;
  margin-top: 4vw;
}

.onebook{
  
  background-color: rgb(85, 81, 81);
  margin-top: 2vw;
  width: 20vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items:center;
  color: white;
  box-shadow: 10px 10px 8px black;
  /* border: 3px solid black; */

}

.onebook:hover{
  box-shadow: 8px 8px 12px rgb(128, 128, 128);
  cursor: pointer;
}

.booktit{
  font-size: 1.5vw;
}

.App{
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

input{
  width: 22vw;
  height: 3vw;
  color: black;
  background-color: white;
}

#submit{
  width: 22.5vw;
  background-color: blueviolet;
  color: white;
  font-size: 1.5vw;
}
.alert{
  font-size: 1vw;
  color: rgb(137, 201, 8);
}

#submit:hover{
  background-color: chocolate;
  color: black;
  box-shadow: 2px 2px 3px black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

form{
  margin-top: 2vw;
  padding: 8px;

}
.form{
  background-color: rgb(108, 107, 105);
  width: 40vw;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 5vw;
  box-shadow: 8px 8px 14px rgb(0, 0, 0);
}



.formTitle{
  text-align: center;
  color: whitesmoke;
}

.bottom{
  display: flex;
  flex-direction: row;
  column-gap: 13vw;
  font-weight: 300;
  font-size: 1vw;
}

.success{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(119, 255, 0);
  height: 20vw;
  text-align: center;
}

#back{
  height: 3vw;
  font-size: 1.3vw;
  border: 2px solid black;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}

#back:hover{
  background-color: chocolate;
  box-shadow: 3px 3px 9px black;
}

#successNote{
  text-shadow: 3px 3px 6px black;
}

.extraArea{
    height: 5vw;
}
@media only screen and (max-width: 600px) {
 
 .books{
  flex-direction: column;
 }

  .onebook {
    height: auto;
    width: 60vw;
  }
 

  #title{
    font-size: 15px;
  }

  nav{
    height: 12vw;
    margin-top: -3vw;
    
  }

  #register{
    margin-top: -4vw;
    height: 3vw;
  }

  .booktit{
    font-size: 4.5vw;
    font-weight: bolder;
  }
  .bottom{
    font-size: 3.5vw;
    font-weight: 500;
  }

  .form{
    font-size: 4vw;
    width: 70vw;
    margin-top: 10vw;
  }

  .alert{
    font-size: 2vw;
  }
  
  .success{
    font-size: 1.82vw;
    height: 30vw;
    width: 50vw;
    text-align: center;
    
  }

  #back{
    margin-top: 2vw;
    height: 6vw;
    font-size: 2.5vw;
  }

  .searchbar{
    width: 30vw;
    height: 3.9vw;
  }
  img{
    /* margin-top: 4vw; */
    width: 60vw;
    height: 70vw;
  }
  .formInput{
    font-size: 3vw;
    width: 50vw;
  }
  #submit{
    font-size: 3vw;
    width: 51vw;
    height: 8vw;
    border: 2px solid black;
  }

  #register{
    height: 6vw;
    font-size: 2.6vw;
  }

  #successNote{
    text-shadow: 3px 3px 6px black;
  }
  input{
    width: 35vw;
    height: 6vw;
    font-size: 12px;
  }
  
}